In [1]:
import pandas as pd
import numpy as np
import snowflake.connector
from collections import defaultdict
import json
import re
import requests
import sys
import random
import requests
import tabulate
from datetime import datetime
import schedule
import time

In [2]:
df = pd.read_csv('attributes.csv')

In [3]:
for index, row in df.iterrows():
    # extract the values from the row
    att = row['absorbency']

    
    # construct the SQL query using the row values
    sql_query = f"select output_data:'{att}'::string op from outputvariants where customer='flamingo' and op is not null limit 50"
    
    # execute the query and retrieve the results as a pandas DataFrame
    query_result = pd.read_sql(sql_query, conn)
    
    odf = pd.concatpd.concat([query_results, query_result], ignore_index=True)
    
    # do something with the query result, for example print the first row
    print(f"Result for row {index}: {query_result.iloc[0]}")
    
# close the database connection
conn.close()

                absorbency
0     activewear_top_style
1                 activity
2                age_group
3       air_freshener_form
4      air_freshener_usage
..                     ...
278             watch_type
279                wattage
280  wireless_technologies
281     women's_shoe_width
282             zoom_specs

[283 rows x 1 columns]