In [11]:
import pandas as pd
import snowflake.connector

#login to snowflake db
con = snowflake.connector.connect(user='vishal.kumar@scale.com',
                                 account='pxa65918',
                                 authenticator='externalbrowser',
                                 warehouse='COMPUTE_WH',
                                 database='SCALE_PROD',
                                 role='GENERAL_RO')

cs = con.cursor()

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [46]:
#Get data from snowflake
sql = f'''
with fpa as (Select 
date_trunc("week", DATE(day)) as report_date_week,
Project_NAME,
Project_group_name, 
customer_company,
Project_product,
PROJECT_BUSINESS_UNIT,
PROJECT_FULFILLMENT_MECHANISM,
PROJECT_TASK_TYPE,
sum(revenue) as revenue,
sum(TOTAL_COGS_AMOUNT-TOTAL_HOSTING_COGS_AMOUNT) as COGS,
sum(TOTAL_OPEX_AMOUNT-TOTAL_HOSTING_OPEX_AMOUNT) as OPEX,
SUM(NUM_COMPLETED_TASKS) AS TASK_VOLUME,
Sum(num_completed_subtasks) as subtask_volume,
sum(TOTAL_COGS_PAY_HOURS) as pay_hours,
--sum(HOURS_SPENT) as hours_spent,
sum(TOTAL_COGS_WORK_UNIT_COUNT) as touches_COGS,
sum(TOTAL_WORKER_COGS_AMOUNT) as worker_cost,

sum(MODTA_COGS_AMOUNT) as mod_cost,
sum(MXQA_COGS_AMOUNT) as mxqa_cost,
sum(TOTAL_REWARDS_COGS_AMOUNT) as rewards,
sum(TOTAL_WORKLOG_COGS_AMOUNT) as worklogs,
sum(TASKER_COGS_AMOUNT) as tasker_cost
from VIEW.FACT_PROJECT_AGGREGATE
where DATE(day) >= '2023-04-24' and date(day) <= '2023-04-29'
AND RECOGNIZED ILIKE 'TRUE' 
AND project_group_name IN ('Instacart Production v0',
'Flamingo Catalog Deprecated',
'Imbe NPC v1',
'Goose',
'Flamingo Catalog Processing',
'Woodpecker Enrichment Validation Test 1',
'Seagull')

group by 1,2,3,4,5,6,7,8
),

long as(select 
date_trunc('week', DATE(day)) as report_date_week,
Project_NAME,
Project_group_name, 
customer_company,
Project_product,
PROJECT_BUSINESS_UNIT,
PROJECT_FULFILLMENT_MECHANISM,
project_task_type,
sum(case when COGS_OPEX ilike 'COGS' and work_level='attempt' then work_unit_count end) as attempt_touches,
sum(case when COGS_OPEX ilike 'COGS' and work_level in ('review_0','review_1','review_10')then work_unit_count end) as review_touches,
sum(case when COGS_OPEX ilike 'COGS' and work_level='attempt'then amount end) as attempt_cost,
sum(case when COGS_OPEX ilike 'COGS' and work_level in ('review_0','review_1','review_10')then amount end) as review_cost,
sum(case when COGS_OPEX ilike 'COGS' and work_level='attempt'then pay_hours end) as attempt_hrs,
sum(case when COGS_OPEX ilike 'COGS' and work_level in ('review_0','review_1','review_10')then pay_hours end) as review_hrs
--sum(case when COGS_OPEX ilike 'COGS' and work_level='attempt'then HOURS_SPENT end) as attempt_hs,
--sum(case when COGS_OPEX ilike 'COGS' and work_level in ('review_0','review_1','review_10')then HOURS_SPENT end) as review_hs
FROM scale_prod.view.costs_by_project_id_long
WHERE project_group_name IN ('Instacart Production v0',
'Flamingo Catalog Deprecated',
'Imbe NPC v1',
'Goose',
'Flamingo Catalog Processing',
'Woodpecker Enrichment Validation Test 1',
'Seagull')
AND  DATE(day) >= '2023-04-24' and DATE(day) <=  '2023-04-29'
GROUP BY 1,2,3,4,5,6,7,8
)
select a.*,
b.attempt_touches,
b.review_touches,
b.attempt_cost,
b.review_cost,
b.attempt_hrs,
b.review_hrs
--b.attempt_hs,
--b.review_hs
from FPA a
left join long b on 
a.report_date_week=b.report_date_week and
a.Project_NAME=  b.Project_NAME and 
a.Project_group_name= b.Project_group_name and
a.customer_company=b.customer_company and 
a.Project_product=b.Project_product and 
a.PROJECT_BUSINESS_UNIT=b.PROJECT_BUSINESS_UNIT and
a.PROJECT_FULFILLMENT_MECHANISM=b.PROJECT_FULFILLMENT_MECHANISM and
a.PROJECT_TASK_TYPE=b.PROJECT_TASK_TYPE
'''
cs.execute(sql)
jdf = cs.fetch_pandas_all()

In [47]:
#list all columns of jdf
#drop columns WORKLOGS, CUSTOMER_COMPANY, PROJECT_PRODUCT, PROJECT_BUSINESS_UNIT, PROJECT_FULFILLMENT_MECHANISM, PROJECT_TASK_TYPE
jdf.drop(columns=['WORKLOGS', 'CUSTOMER_COMPANY', 'PROJECT_PRODUCT', 'PROJECT_BUSINESS_UNIT', 'PROJECT_FULFILLMENT_MECHANISM', 'PROJECT_TASK_TYPE'], inplace=True)
jdf.columns

Index(['REPORT_DATE_WEEK', 'PROJECT_NAME', 'PROJECT_GROUP_NAME', 'REVENUE',
       'COGS', 'OPEX', 'TASK_VOLUME', 'SUBTASK_VOLUME', 'PAY_HOURS',
       'TOUCHES_COGS', 'WORKER_COST', 'MOD_COST', 'MXQA_COST', 'REWARDS',
       'TASKER_COST', 'ATTEMPT_TOUCHES', 'REVIEW_TOUCHES', 'ATTEMPT_COST',
       'REVIEW_COST', 'ATTEMPT_HRS', 'REVIEW_HRS'],
      dtype='object')

In [48]:
#convert jdf to csv
jdf.to_csv('jdf.csv', index=False)

In [49]:
print(jdf)

   REPORT_DATE_WEEK                                       PROJECT_NAME  \
0        2023-04-24                      Flamingo Color Categorization
1        2023-04-24                                 seagull_image_eval
2        2023-04-24                  seagull_text_attribute_evaluation
3        2023-04-24    Flamingo Bullets Categorization (Health/Beauty)
4        2023-04-24          Flamingo Bullets Categorization (Jewelry)
5        2023-04-24                        seagull_taxonomy_evaluation
6        2023-04-24                                ralph-dummy-project
7        2023-04-24    Woodpecker Enrichment Validation - Pilot Test 4
8        2023-04-24                    Flamingo Color Title Extraction
9        2023-04-24            Flamingo Size Chart Site Classification
10       2023-04-24                    seagull_taxonomy_eavluation_llm
11       2023-04-24                  [Catalog Engine] Attribute Review
12       2023-04-24                   Goose Enrichment PROD Partner v1
13       2023-04-24             Flamingo Bullets Categorization (Home)
14       2023-04-24                    Goose Deduplication B2M Prod v1
15       2023-04-24                           Goose Enrichment PROD v1
16       2023-04-24                   Flamingo Material Categorization
17       2023-04-24                  seagull_taxonomy_model_evaluation
18       2023-04-24                          Flamingo Product Taxonomy
19       2023-04-24                                        Imbe NPC v1
20       2023-04-24             Woodpecker Pilot Ground Truth Labeling
21       2023-04-24            Flamingo Catalog - Deals Categorization
22       2023-04-24                                       Flamingo CQR
23       2023-04-24            [Catalog Engine] Product Categorization
24       2023-04-24                        Flamingo Bullets (Standard)
25       2023-04-24                            Instacart Production v0
26       2023-04-24                     Flamingo Size Chart Extraction
27       2023-04-24                           sohum_goose_quick_linter
28       2023-04-24           Flamingo Size Chart Image Classification
29       2023-04-24  Flamingo Material Categorization_sub_targeted_...
30       2023-04-24                         Post-Processing Claim Test
31       2023-04-24                          Flamingo Product Matching
32       2023-04-24                        Goose Deduplication PROD v1
33       2023-04-24    Woodpecker Enrichment Validation - Pilot Test 1
34       2023-04-24                                Flamingo Parsing QA
35       2023-04-24                                     FCAT Media QIR
36       2023-04-24      Flamingo Product Matching_sub_targeted_review

                         PROJECT_GROUP_NAME   REVENUE         COGS  \
0               Flamingo Catalog Deprecated       NaN          NaN
1                                   Seagull       NaN     0.860000
2                                   Seagull       NaN    20.760000
3               Flamingo Catalog Deprecated       NaN          NaN
4               Flamingo Catalog Deprecated       NaN    28.583156
5                                   Seagull       NaN     0.000000
6                                   Seagull       NaN     0.000000
7   Woodpecker Enrichment Validation Test 1       NaN     0.000000
8               Flamingo Catalog Deprecated       NaN     4.005023
9               Flamingo Catalog Deprecated       NaN     0.000000
10                                  Seagull       NaN     0.000000
11              Flamingo Catalog Processing      0.00  5210.832500
12                                    Goose      0.00     0.587800
13              Flamingo Catalog Deprecated       NaN     4.268662
14                                    Goose      0.00     5.399500
15                                    Goose       NaN    15.000000
16              Flamingo Catalog Deprecated       NaN     4.435047
17                                  Seagull       NaN     0.000000
18              Flamingo Catalog Deprecated       NaN     2.706784
19                              Imbe NPC v1  10518.30  2802.615535
20  Woodpecker Enrichment Validation Test 1       NaN     0.000000
21              Flamingo Catalog Processing       NaN     0.000000
22              Flamingo Catalog Processing       NaN   815.004000
23              Flamingo Catalog Processing      0.00  1228.546817
24              Flamingo Catalog Deprecated       NaN     1.500829
25                  Instacart Production v0   8067.00  3270.455796
26              Flamingo Catalog Processing      0.00   667.542450
27                                    Goose       NaN     0.000000
28              Flamingo Catalog Deprecated       NaN     0.000000
29              Flamingo Catalog Deprecated       NaN   235.000000
30              Flamingo Catalog Processing       NaN  3348.600000
31              Flamingo Catalog Processing       NaN    25.004000
32                                    Goose     35.38     5.992497
33  Woodpecker Enrichment Validation Test 1       NaN    45.000000
34              Flamingo Catalog Processing       NaN     0.000000
35              Flamingo Catalog Processing       NaN     0.000000
36              Flamingo Catalog Processing       NaN     0.000000

           OPEX  TASK_VOLUME  SUBTASK_VOLUME    PAY_HOURS TOUCHES_COGS  ...  \
0           NaN         50.0             NaN          NaN         None  ...
1    466.337600          0.0             0.0     0.000000     20.00000  ...
2    495.023700          NaN             NaN     0.000000     27.00000  ...
3           NaN        167.0             NaN          NaN         None  ...
4      0.000000        330.0           419.0    11.753084    731.00000  ...
5    412.367700          NaN             NaN     0.000000      0.00000  ...
6      0.000000          0.0             NaN     0.000000      0.00000  ...
7      0.000000          NaN             NaN     0.000000      0.00000  ...
8      0.000000         67.0            98.0     3.917474    197.00000  ...
9   1820.832000          1.0             0.0     0.000000      0.00000  ...
10   412.367700          NaN             NaN     0.000000      0.00000  ...
11  1625.735200      43139.0         35903.0  1641.117112  70322.00000  ...
12  1364.327688        491.0            10.0     0.129824      5.00000  ...
13     0.000000         80.0            46.0     1.533197    120.00000  ...
14  1226.239343        105.0           105.0     0.631533    105.00000  ...
15   460.680000          NaN             NaN     0.000000      1.00000  ...
16     0.000000         97.0           155.0     3.582048    296.00000  ...
17   412.367700          NaN             NaN     0.000000      0.00000  ...
18     0.000000        459.0            40.0     1.777704     62.00000  ...
19   698.922711       8091.0          8091.0   414.206882  16252.00000  ...
20   412.367700          NaN             NaN     0.000000      0.00000  ...
21  3343.448276          NaN             NaN     0.000000      0.00000  ...
22     0.000000          NaN             NaN     0.000000      1.00000  ...
23   481.832235      61385.0         60047.0  1299.357230  60051.00000  ...
24     0.000000         60.0            12.0     0.515639     26.00000  ...
25  1189.047390      27027.0         26891.0   926.323389  26163.00000  ...
26    74.925000       4243.0          3323.0    93.156702   3550.00000  ...
27  3343.448276          NaN             NaN     0.000000      0.00000  ...
28     0.000000        188.0             4.0     0.000000      0.00000  ...
29     0.000000          NaN             NaN     0.000000         None  ...
30     0.000000          NaN             NaN     0.000000    856.00000  ...
31   181.804851          9.0             NaN     0.000000      0.00000  ...
32   462.966610        145.0           145.0     1.086319    145.00000  ...
33     0.000000          NaN             NaN          NaN      3.00000  ...
34   363.609702          NaN             NaN     0.000000      0.00000  ...
35   552.244274          NaN             NaN     0.000000      0.00000  ...
36   181.804851          NaN             NaN     0.000000      0.00000  ...

    MOD_COST  MXQA_COST  REWARDS  TASKER_COST  ATTEMPT_TOUCHES REVIEW_TOUCHES  \
0        NaN        NaN      NaN          NaN             None           None
1     0.0000     0.0000      0.0     0.000000       8428.00000        0.00000
2     0.0000     0.0000      0.0     0.000000      11098.00000     3492.00000
3        NaN        NaN      NaN          NaN             None           None
4     0.0000     0.0000      0.0    28.583156        266.00000      465.00000
5     0.0000     0.0000      0.0     0.000000             None           None
6     0.0000     0.0000      0.0     0.000000             None           None
7     0.0000     0.0000      0.0     0.000000             None           None
8     0.0486     0.0000      0.0     3.956423        167.00000       30.00000
9     0.0000     0.0000      0.0     0.000000             None           None
10    0.0000     0.0000      0.0     0.000000             None           None
11    0.0000  2649.7764      0.0  2409.906100     122659.00000    38359.00000
12    0.0000     0.5878      0.0     0.000000          0.00000        5.00000
13    0.0000     0.0000      0.0     4.268662         38.00000       82.00000
14    0.0000     5.3995      0.0     0.000000        105.00000        0.00000
15    0.0000     0.0000      0.0     0.000000             None           None
16    0.0000     0.0000      0.0     4.435047        255.00000       41.00000
17    0.0000     0.0000      0.0     0.000000             None           None
18    0.0000     0.0000      0.0     2.706784         58.00000        4.00000
19    0.0000   624.8000      0.0     0.000000       8122.00000     8118.00000
20    0.0000     0.0000      0.0     0.000000             None           None
21    0.0000     0.0000      0.0     0.000000             None           None
22    0.0000   785.0040      0.0     0.000000             None           None
23    0.0000     0.2665      0.0  1190.780317      60052.00000        2.00000
24    0.0000     0.0000      0.0     1.500829         11.00000       15.00000
25  834.5504  2404.1640     25.0     0.000000      27037.00000        0.00000
26    0.0000   655.2589      0.0     0.000000        221.00000     3322.00000
27    0.0000     0.0000      0.0     0.000000             None           None
28    0.0000     0.0000      0.0     0.000000             None           None
29    0.0000   235.0000      0.0     0.000000             None           None
30    0.0000   702.5000      0.0     0.000000             None           None
31    0.0000    25.0040      0.0     0.000000             None           None
32    0.0000     5.8680      0.0     0.000000        145.00000        0.00000
33    0.0000     0.0000      0.0     0.000000             None           None
34    0.0000     0.0000      0.0     0.000000             None           None
35    0.0000     0.0000      0.0     0.000000             None           None
36    0.0000     0.0000      0.0     0.000000             None           None

   ATTEMPT_COST  REVIEW_COST  ATTEMPT_HRS  REVIEW_HRS
0           NaN          NaN          NaN         NaN
1    406.321700     0.000000    50.187887    0.000000
2    729.142900   229.424400    78.069371   17.452911
3           NaN          NaN          NaN         NaN
4     10.554573    18.028583     5.178278    6.574806
5           NaN          NaN          NaN         NaN
6           NaN          NaN          NaN         NaN
7           NaN          NaN          NaN         NaN
8      3.724233     0.280791     3.490557    0.426917
9           NaN          NaN          NaN         NaN
10          NaN          NaN          NaN         NaN
11  2351.127800  3071.365900  3795.027563  459.289858
12     0.000000     0.587800     0.000000    0.129824
13     0.839178     3.429484     0.456951    1.076246
14     5.399500     0.000000     0.631533    0.000000
15          NaN          NaN          NaN         NaN
16     4.412769     0.022278     3.325866    0.256181
17          NaN          NaN          NaN         NaN
18     2.674621     0.032163     1.685542    0.092162
19   341.708800   283.091200   259.496428  154.710454
20          NaN          NaN          NaN         NaN
21          NaN          NaN          NaN         NaN
22          NaN          NaN          NaN         NaN
23  1190.880217     0.166600  1299.411593    0.028937
24     0.613066     0.887763     0.295672    0.219967
25   859.545800     0.000000   946.843109    0.000000
26    40.640450   614.722000     6.364851   86.791851
27          NaN          NaN          NaN         NaN
28          NaN          NaN          NaN         NaN
29          NaN          NaN          NaN         NaN
30          NaN          NaN          NaN         NaN
31          NaN          NaN          NaN         NaN
32     5.868000     0.000000     1.086319    0.000000
33          NaN          NaN          NaN         NaN
34          NaN          NaN          NaN         NaN
35          NaN          NaN          NaN         NaN
36          NaN          NaN          NaN         NaN

[37 rows x 21 columns]